*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-size: 15px;
}

.screen{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.container{
    display: flex;
    justify-content: center;
    border: 1px solid #dadddf;
    padding: 17px 17px 19px 17px;
    margin: 10px;

    width: 591px;
    height: 161px;
}

.content{
    width: 430px;
    margin-left: 12px;
}

.header{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.header span{
    color: #536471;
}

.description{
    margin-bottom: 30px;
    width: 448px;
}

p + p{
    margin-bottom: 16px;
}

h1{
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    color: #0f1419;
    margin-right: 3px;
    
}

.verify{
    width: 15px;
    height: 15px;
    margin-right: 6px;
}

h2{
    font-weight: 400;
    color: #536471;
    font-size: 15px;
    margin-right: 3px;
    text-transform: capitalize;
}

.ball{
    width: 5px;
    height: 5px;
    margin-right: 5px;
}

date{
    font-size: 15px;
    color: #536471;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    width: 430px;
}

.box img{
    margin-right: 20px;

}